// colors
$black:  #27201f;
$silver: #333333;
$red-lt: #a70014;
$red-dk: #5c000b;
$white:  #ffffff;
$beige:  #ffffe2;

// fonts
$header-font:  'Kaushan Script', Times, serif;
$copy-font:    'Quicksand', Arial, sans-serif;

// media sizes
$phablet-width: "screen and (min-width: 480px)";
$tablet-width:  "screen and (min-width: 768px)";
$desktop-width: "screen and (min-width: 1024px)";
